body{
	font-family:Helvatica, sans-serif;
	background:url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/rFZAWcMNliwt2qvku/videoblocks-smoke-and-fog-indoor-scenecement-floor-background-in-dark-room3d-illustration_sz9bw4kom_thumbnail-full01.png); background-repeat: no-repeat; 
  color:white;
}
#wrapper{
	margin:0 auto;
  width:500px;
}